.n-wrapper{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    animation: MoveInTop 1.5s;
}

@keyframes MoveInTop{
    0%{
        transform: translateY(1rem);
        opacity: 0;
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.n-left{
    flex: 1;
    align-items: center;
    display: flex;
    gap: 2rem;
}

.n-name{
    font-size: 1.3rem;
    font-weight: bold;
}

.n-right{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: 400;
}

ul{
    list-style: none;
}

.n-list{
    flex: 10;
}

.n-list > ul{
    display: flex;
    gap : 2rem ;
    margin-right: 4rem;
}

.n-list > ul > li{
    transition: all .3s;
}

.n-list > ul > li:hover{
    cursor: pointer;
    color : var(--orange) ;
    transform: scale(1.15);
}

.n-button{
    flex: 2;
}